<div class="fondo_img">
  <ion-content>
    <div class="center-content" style="padding-top: 160px;">
      <ion-img class="fondo_logo" src="/assets/img/logoduoc.png"></ion-img>
    </div>
    <ion-card>
      <ion-card-content>
        <h6>Ingrese correo de recuperación</h6>
        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="correo" type="email" placeholder="Correo"></ion-input>
          </ion-item>
        </ion-list>

        <ion-buttons slot="start">
          <ion-back-button
            defaultHref="/"
            text="Cancelar"
            mode="ios"
          >
          </ion-back-button>
          <ion-button mode="ios" (click)="recuperar(correo)">Recuperar cuenta</ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>