
<ion-content class="fondo_img" >

    <div>
        <ion-segment #segment mode="ios" color="tertiary" style="padding-top: 60px;"  (ionChange)="segmentChanged($event)" value="Personal" >
        <ion-segment-button value="Personal">
            <ion-label>Personal</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Academica">
            <ion-label>Academica</ion-label>
        </ion-segment-button>
        </ion-segment>
    </div>

    <div *ngFor="let estudiante of datosEstudiantes">
        <div *ngIf="this.uid===estudiante.uid">
            <div *ngIf="valorSegmento === 'Personal'">
                <ion-list>
                    <ion-item>
                        <ion-label>
                            Nonbre: {{estudiante.nombre}}
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            Rut:{{estudiante.rut}}
                        </ion-label>
                        <ion-icon slot="end" name="create" (click)="editarRut()"></ion-icon>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            Genero:{{estudiante.genero}}
                        </ion-label>
                        <ion-icon slot="end" name="create" (click)="editarGenero()"></ion-icon>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            Telefono de Contacto: {{estudiante.telefono}}
                        </ion-label>
                        <ion-icon slot="end" name="create" (click)="editarNumero()"></ion-icon>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            Dirrecion:{{estudiante.direccion}}
                        </ion-label>
                        <ion-icon slot="end" name="create" (click)="editarDireccion()" ></ion-icon>
                    </ion-item>
                    <ion-item>
                        <ion-label>Foto de perfil: </ion-label>
                        <ion-button slot="end">
                            <label for="filebtn">
                                <ion-icon slot="end" name="images" ></ion-icon>
                            </label>
                            <input (change)="nuevaImagen($event,estudiante.uid)" id="filebtn" style="display:none ;" type="file" accept="image/*">
                        </ion-button>
                    </ion-item>
                    <ion-item>
                            <img [src]=estudiante.foto>
                    </ion-item>
                    
                </ion-list>
            </div>
                <div *ngIf="valorSegmento === 'Academica'">
                    <ion-list>
                        <ion-item>
                            <ion-label>
                                Rol: {{estudiante.rol}}
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                Correo Institucional: {{estudiante.correo}}
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                Carrera: {{estudiante.carrera}}
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                Sede: {{estudiante.sede}}
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>


<ion-content>
