
<ion-content class="fondo_img">
  
  <h1 class="ion-text-center" style=" padding-top: 20px; color: rgba(255, 255, 255, 0.908); padding-top: 50px;">SU ASISTENCIA SE REGISTRO CORRECTAMENTE</h1>
  <ion-card class="ion-text-center" style="padding-top: 20px;">
    <img alt="Silhouette of mountains" src="https://us.123rf.com/450wm/vitekprchal/vitekprchal1701/vitekprchal170100092/70267332-s%C3%ADmbolo-de-visto-bueno-en-el-bot%C3%B3n-verde-sombra-plana.jpg" />
  </ion-card>

  <div class="ion-text-center">
    <ion-button class="custom-button" style="padding-top: 50px;" routerLink="/inicioa" >Volver a inicio</ion-button> <!--FALTA ONLICK-->
  </div>
</ion-content>
