ion-content {
    --ion-background-color: transparent; /* Establece el fondo transparente */
    --ion-padding-bottom: 0; /* Elimina el espacio inferior predeterminado de ion-content */
  }
  

.custom-button {
    --background: #FFB800; /* Color de fondo naranja */
    --color: rgb(0, 0, 0); /* Color de texto blanco */
    --border-radius: 10px; /* Radio de borde redondeado */
    --padding-end: 40px; /* Espaciado interno en el final */
  }


  .fondo_img {
    background: url('/assets/img/img_seccion.jpg') no-repeat center center fixed;
    background-size: cover ; /* Ajusta el tamaño para cubrir el área sin estirar */
    height: 100vh; /* Asegura que el fondo ocupe toda la altura de la pantalla */
    }

  /* Media query para ajustar el botón en pantallas más pequeñas (como dispositivos móviles) */
  @media (max-width: 768px) {
    .centered-button {
      margin: 10px auto; /* Reduce el espacio vertical en pantallas más pequeñas */
    }
  }
  


  ion-card {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
    box-shadow: none; /* Eliminar la sombra */
  }
  
  ion-card img {
    border-radius: 50%;
  }
  
  ion-card ion-card-header,
  ion-card ion-card-content {
    text-align: center;
  }
  
  h1 {
    color: rgb(255, 255, 255);
    padding-bottom: 70px;
    text-shadow: 
      3px 3px 0 black,
  
  }
  