.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}



.fondo_img {
    background: url('/assets/img/img_alumno.jpg') no-repeat center center fixed;
    background-size: cover ; /* Ajusta el tamaño para cubrir el área sin estirar */
    height: 100vh; /* Asegura que el fondo ocupe toda la altura de la pantalla */
    }

/*h1 de pagina inicio*/
h1 {
    font-size: 24px; /* Tamaño de fuente para ejemplificar, puedes ajustarlo */
    color: #FFDB58; /* Color amarillo similar al del logotipo doucuc */
    position: relative; /* Para establecer una referencia para el borde */
  
}
  
  h1::after {
    content: ' '; /* Contenido pseudo-elemento */
    position: relative; /* Posición absoluta en relación con el elemento h1 */
    border: 0px solid black; /* Borde de 2px en color negro */
    top: 10%; /* Ubicar el borde en la mitad vertical del elemento h1 */
    left: 0; /* Colocar el borde en la parte izquierda del elemento h1 */
    width: 100%; /* Ancho completo del borde */
    /* Alinear verticalmente el borde */
    z-index: -1; /* Colocar el borde detrás del texto */
  }


.custom-button {
    --background: #FFB800; /* Color de fondo naranja */
    --color: rgb(0, 0, 0); /* Color de texto blanco */
    --border-radius: 10px; /* Radio de borde redondeado */
    --padding-start: 20px; /* Espaciado interno en el inicio */
    --padding-end: 20px; /* Espaciado interno en el final */
  }

/* Ajustar tamaño del ion-checkbox */
ion-checkbox.custom-checkbox {
    --background: transparent; /* Fondo transparente */
    --border-color: #FF5733; /* Color del borde naranja */
    --border-radius: 4px; /* Radio de borde redondeado */
    width: 18px; /* Ajustar ancho a 18px */
    height: 18px; /* Ajustar alto a 18px */
  }
  
  /* Ajustar estilo del contenedor del checkbox */
  .custom-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  /* Ajustar estilo del texto con espacio en blanco a la izquierda */
  .custom-label {
    margin-left: 10px; /* Ajusta este valor para agregar espacio */
  }
  
  