
<ion-content class="fondo_img">
  <div class="center-content">
    <h1>  </h1>
    <h1> </h1>
  </div>
  <div class="center-content">
    <form >
      <ion-list>
        <ion-item>
          <ion-input type="text"  name="username" placeholder="Correo profesor"></ion-input>
        </ion-item>
      </ion-list>
      <br>
        <ion-list>
          <ion-item>
            <ion-input type="password" name="password" placeholder="Contraseña"></ion-input>
          </ion-item>
        </ion-list>
    </form>
  </div>

  <div class="ion-padding ion-text-center">
    <ion-button class="custom-button" >INICIO SESIÓN</ion-button> <!--FALTA ONLICK-->
  </div>

  <div class="ion-text-center custom-content">
    <ion-checkbox class="custom-checkbox" id="rememberPassword"></ion-checkbox> <!--falta metodo de recordar-->
    
  </div>

  <div class="ion-padding ion-text-center" >
  <h3 style="font-size: small;">Recordar contraseña</h3>
  
</div>
  
</ion-content>

