<ion-content class="ion-padding fondo_img">
  <div class="center-container">
    <h1 >SECCIONES DISPONIBLES</h1>
    
    <!-- Sección 01 -->
    <ion-list class="list-container mi-lista">
      <ion-item  >MYDPYG21-SECCION 01</ion-item> <!----> 
    </ion-list>
    
    <!-- Sección 02 -->
    <ion-list class="list-container mi-lista">
      <ion-item >MYDPYG21-SECCION 02</ion-item>
    </ion-list>
    
    <!-- Sección 03 -->
    <ion-list class="list-container mi-lista">
      <ion-item >MYDPYG21-SECCION 03</ion-item>
    </ion-list>
    
    <!-- Sección 04 -->
    <ion-list class="list-container mi-lista">
      <ion-item >MYDPYG21-SECCION 04</ion-item>
    </ion-list>
    
    <ion-button class="custom-button" expand="full">Volver</ion-button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: 10px;">
      @RegistrApp Derechos Reservados 2023, Versión Beta
    </ion-title>
  </ion-toolbar>
</ion-footer>