<ion-header>
  <ion-toolbar>
    <ion-title>
      <!-- Título de la página -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo_img">
  <h1 class="ion-text-center" style=" padding-top: 20px; color: black; margin: 0 auto;">REGISTRA TU ASISTENCIA DE CLASES</h1>

  <ion-card class="qr" >
    <!-- Contenido de tu tarjeta QR -->
  </ion-card>
  <div class="ion-text-center">
    <ion-button routerLink="/iniciop" class="custom-button" >Volver a inicio</ion-button> <!--FALTA ONLICK-->
  </div>
</ion-content>

