<ion-content class="ion-padding fondo_img">
  <div class="center-content" style="padding-top: 100px;">
    <ion-img class="fondo_logo" src="/assets/img/logoduoc.png"></ion-img>
  </div>
  <div class="center-container">
    <h1>Asignaturas Inscritas</h1>
    <div *ngFor="let asignatura of mostarAsignaturas">
      <!-- Lista de asignaturas con porcentajes ocultos inicialmente -->
    <ion-list class="list-container mi-lista">
      <ion-item >
        <ion-label>{{asignatura.nombre}}</ion-label>
      </ion-item>
    </ion-list>

    <!-- Mostrar porcentaje cuando se selecciona una asignatura -->
    <div id="programacionPorcentaje" class="porcentaje hidden ">
      <ion-label>{{asignatura.nombre}}</ion-label>
    </div >

    
    </div> 
  </div>
    <ion-button class="custom-button" routerLink="/inicioa"> Volver</ion-button>
  
</ion-content>
