.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 50px;
    padding: 0; /* Elimina el relleno en el interior del contenedor */
    background: rgba(0, 0, 0, 0); /* Fondo semitransparente para mejorar la legibilidad */
    color: white; /* Color de texto blanco */
    text-align: center;
  }
  
  ion-content {
    background: none; /* Elimina el fondo de ion-content para mostrar el fondo de center-container */
  }
  
  .custom-button {
    --background: #FFB800;
    --color: rgb(0, 0, 0);
    --border-radius: 10px;
    --padding-end: 40px;
    margin-top: 20px; /* Espaciado superior para el botón */
  }
  
  .fondo_img {
    background: url('/assets/img/img_seccion.jpg') no-repeat center center fixed;
    background-size: cover ; /* Ajusta el tamaño para cubrir el área sin estirar */
    height: 100vh; /* Asegura que el fondo ocupe toda la altura de la pantalla */
    }
  
  
  ion-list{
    border-radius: 20px;
    background: rgba(255, 255, 255, 0);
  
  }
  
  /*h1 con text shadow*/
  h1 {
    color: rgb(255, 255, 255);
    padding-bottom: 70px;
    text-shadow: 
      3px 3px 0 black,
  
  }
  .porcentaje {
    border: 1px solid #ccc; /* Añadir borde de 1 píxel sólido */
    padding: 10px; /* Añadir relleno */
    margin-top: 10px; /* Espacio superior */
    background-color: black;
    border-radius: 15px;
  }