/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";




  /* Importa la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Aplica Roboto como la fuente predeterminada */
body {
  font-family: 'Roboto', sans-serif;
}


/* Estilo global para los botones ion */
ion-button.custom-button {
    --background: #ffb800; /* Color de fondo naranja */
    --color: rgb(0, 0, 0); /* Color de texto blanco */
    --border-radius: 10px; /* Radio de borde redondeado */
    --padding-start: 20px; /* Espaciado interno en el inicio */
    --padding-end: 20px; /* Espaciado interno en el final */
    width: 250px;
  }
  
  .fondo_logo {
    height: 10vh; /* Asegura que la imagen ocupe toda la altura de la pantalla /
    display: block; / Asegura que la imagen se comporte como un elemento en línea /
    padding-bottom: 30px; / Centra la imagen horizontalmente en el div padre si lo deseas */
    text-shadow: 3px 3px 0 rgb(0, 0, 0);

  }

  .notificacion-pantalla-usuario {
    --background: #f4f4fa;
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: #4b4a50;
    
  }

  
  app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }