
<ion-content class="fondo_img">
  <div class="center-content" style="padding-top: 325px;" >
    <ion-img class="fondo_logo" src="/assets/img/logoduoc.png"></ion-img>
  </div>
  <div class="center-content">
    <h1> </h1> <!--Falta insertar logo-->
    <h1></h1>
  </div>
  <!---
  <div class="ion-padding ion-text-center">
    <ion-button routerLink="/loginp" class="custom-button">INICIO SESIÓN PROFESOR</ion-button> 
  </div>-->
  
  
  

  <div class="center-content">
    <h1>Bienvenido </h1>
    <h1>Registro de asistencia</h1>
  </div>

</ion-content>

