
<ion-content class="fondo_img" >

<div>
  <div>
    <ion-card class="ion-text-center" style="padding-top: 70px;">
      <img alt="Silhouette of mountains" src="https://i.pinimg.com/1200x/6d/c2/ee/6dc2ee0a41d234aee1620b6a21a00d73.jpg" />
      <ion-card-header style="border-bottom: 1px solid rgb(255, 255, 255);"> <!-- Agregando la línea negra en el header -->
        <ion-card-title style="color: rgb(252, 250, 250);">Eduardo Atonio Baeza Escobar</ion-card-title>
        <ion-card-subtitle style="color: rgb(255, 255, 255);">21.299.222-K</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  
    <div style="margin: 0; text-align: center;"> <!-- Ajustando el margin top a 0 para eliminar el espacio -->
      <p class="slogan" style="color: rgb(255, 254, 254);">
        "Transformando la Asistencia: Potenciando la Participación en Clase sin Obstáculos. Tu Solución Móvil Definitiva para una Enseñanza Presencial Precisa y Efectiva en la Era Post-Pandemia."
      </p>
      <ion-button  routerLink="/qr" class="ion-padding-10 custom-button">Generar codigo  QR</ion-button>
    </div>
    
    <div>
      <ion-grid class="info-grid" style="color: rgb(0, 0, 0); padding-top: 0;"> <!-- Añadiendo padding-top: 0; para eliminar el espacio -->
      
        <ion-row class="info-row">
          <ion-col size="12" class="info-label">Martes</ion-col>
        </ion-row>
        <ion-row class="info-row">
          <ion-col size="12" class="info-text">8:31 - 12:10</ion-col>
        </ion-row>
        <ion-row class="info-row">
          <ion-col size="12" class="info-text">PROGRAMACION DE APLICACIONES MOVILES</ion-col>
        </ion-row>
        <ion-row class="info-row">
          <ion-col size="12" class="info-text">PGY4121 - Seccion 001D</ion-col>
        </ion-row>
        <ion-row class="info-row">
          <ion-col size="12" class="info-text">Sala: MP-LINF210 Lab. comunicaciones.unifi(30)</ion-col>
        </ion-row>
        <ion-row class="info-row">
          <ion-col size="12" class="info-text">Sede Maipu</ion-col>
        </ion-row>
      </ion-grid>
  
    </div>
    
</div>
  
</ion-content>


