/* Estilo para el encabezado */
ion-header {
  background-color: #000000; /* Color de fondo del encabezado */
  color: #fff; /* Color del texto del encabezado */
  text-align: center; /* Alinea el texto al centro */
}

/* Estilo para el título */
ion-title {
  font-size: 24px; /* Tamaño de fuente del título */
}

/* Estilo para el contenido */
ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 56px); /* Altura mínima para evitar que el contenido se oculte detrás del encabezado (56px es la altura del encabezado por defecto) */
  padding: 20px;
  background-color: #f5f5f5; /* Color de fondo del contenido */
}


.mi-lista {
  background-color: transparent; /* Hacer que el fondo de la lista sea transparente */
  
}



/* Estilo para la lista de alumnos */
ion-list {
  max-width: 400px;
  width: 100%;
  
}

/* Estilo para cada elemento de la lista */
ion-item {
  background-color: #f0e9e9ea;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para el nombre del alumno */
ion-label {
  font-size: 18px;
  color: #333;
}

/* Estilo para las casillas de verificación */
ion-checkbox {
  --background: #007bff;
  --border-color-checked: #007bff;
}

/* Estilo para el texto de las casillas de verificación */
ion-checkbox::part(label) {
  color: #fff;
}

/* Estilo para el contenedor principal */
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

/* Estilo para el botón "Volver" */
ion-button.custom-button {
  --background: #FFB800; /* Color de fondo naranja */
  --color: #000; /* Color de texto negro */
  --border-radius: 10px; /* Radio de borde redondeado */
  margin-top: auto; /* Coloca el botón al final de la lista */
  display: block;
  margin: 20px auto;
}

.fondo_img {
  background: url('/assets/img/img_lista_1.jpg') no-repeat center center fixed;
  background-size: cover ; /* Ajusta el tamaño para cubrir el área sin estirar */
  height: 100vh; /* Asegura que el fondo ocupe toda la altura de la pantalla */
}
