<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fondo_img">
  <div class="center-container">
    <h1 style="color: black;">REGISTRO DE ASISTENCIA</h1>
    <ion-list class="list-container mi-lista">
      <!-- Aquí van tus elementos de la lista -->
      <ion-item>
        <ion-label>Juan Pérez García</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>María Rodríguez López</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Luis González Fernández</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>Ana Rodríguez Pérez</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>Pablo López Martínez</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>María García Rodríguez</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>Carolina Martínez López</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Luis González Fernández</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>Ana Rodríguez Pérez</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>Pablo López Martínez</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>María García Rodríguez</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>Carolina Martínez López</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Luis González Fernández</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>Ana Rodríguez Pérez</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>Pablo López Martínez</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>María García Rodríguez</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>Carolina Martínez López</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Luis González Fernández</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>Ana Rodríguez Pérez</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>Pablo López Martínez</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>María García Rodríguez</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>Carolina Martínez López</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
                        
    </ion-list>
  </div>
  <ion-button class="custom-button" expand="full">Volver</ion-button>
</ion-content>

